<!DOCTYPE html>

<html>
<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>

    <div class="row">
        <div class="left"><p></p></div>
        <div class="middle">
            <form action="/_attending" method="post">
                <input type="text" name="code" />
                <button type="submit" class="submit">Submit</button>
            </form>
        </div>
        <div class="right"><p></p></div>
    </div>

    <div class="row">
        <div class="left"><p></p></div>
        <div class="middle attending">
        <!-- <div class="attending"> -->
            <br>
            <br>
            <hr>
            <% for (var i = 0; i < friends.length; i++) { %>
                <div><%= friends[i].fullname %></div>
                <div><%= friends[i].phone %></div>
                <div><%= friends[i].email %></div>
                <div><%= friends[i].attending ? 'will be in Moab yayayay' : 'is dead to us' %></div>
                <hr>
            <% } %>
        </div>
        <div class="right"><p></p></div>
    </div>

    <%- include('../partials/footer') %>
</body>

</html>