<!DOCTYPE html>

<html>
<head>
    <title>Burger &amp; King</title>

    <link rel="stylesheet" href="css/style.css">

    <!-- sparkle_cursor.js -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <!-- <script type="text/javascript" src="js/sparkle_cursor.js"></script> -->

    <!-- glitter scrollbar -->
    <link rel="stylesheet" href="css/glitterbar.css">

    <!-- scale.js for responsive design hack -->
    <!-- <script type="text/javascript" src="js/scale.js"></script> -->

</head>

<body>

    <img src="images/lignelongue_rosesrose_anim.gif" />

    <div class="row">
        <div class="left">
            <img class="banner-img" src="images/flycupid.gif"/>
        </div>
        <div class="middle title">.:* rsvp *:.</div>
        <div class="right">
            <img class="banner-img" src="images/butterflyrockplant.gif" />
        </div>
    </div>

    <div class="row">
        <div class="left"><p></p></div>
        <div class="middle">
            <form action="/rsvp" method="post">
                <input type="text" name="fullname" placeholder="full name" value="<%= fullname %>" />
                <br/>
                <input type="text" name="phone" placeholder="phone number" value="<%= phone %>" />
                <br/>
                <input type="text" name="email" placeholder="email" value="<%= email %>" />
                <br/>
                <div class="radio-wrapper">
                    <input type="radio" name="coming" value="Yes" <%= coming %> />
                    <div class="radio-text">we'll b there!</div>
                    <br/>
                    <input type="radio" name="coming" value="No" <%= notComing %> />
                    <div class="radio-text">we'll b somewhere else :(</div>
                </div>
                <input type="submit" value="submit" />
            </form>
        </div>
        <div class="right"><p></p></div>
    </div>

    <div class="row">
        <div class="left"><p></p></div>
        <div class="middle">
            <p class='submitted'><%= message %></p>
        </div>
        <div class="right"><p></p></div>
    </div>

    <div class="row footer">
        <img class="tree-sep" src="images/treesep4.gif" />
    </div>

    <div class="row footer">
        <div>~</div>
        <div><a href="/">home</a></div>
        <div>-</div>
        <div><a href="/rsvp">rsvp</a></div>
        <div>-</div>
        <div><a href="/logistics">logistics</a></div>
        <div>~</div>
    </div>

</body>

</html>